@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif    
}

body{
    background-color: #f5c2e8;
}

.header{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar-header {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 110px;
    width: auto;  
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    display: flex; 
}

.header .nav-links li{
    display: inline-block;
    margin: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    text-decoration: none;
    color: #000;
}

.header .nav-links a:hover{
    color: #9cb66c; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.header-actions{
    display: flex;
    gap: 20px;   
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 40px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.search-bar form {   
    height: 64px;
    width: 350px;
    display: flex;
    align-items: center;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 20px;
    gap: 15px;
}

.search-bar input{    
    font-size: 18px;
    outline: none;
    border: 0;
    flex: 1;
    background-color: transparent;
}

.search-bar button{
    background-color: transparent;
    border:0;
    outline:0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    order: -1;
}

.search-bar button i{
    color: #000;
    font-size: 18px;   
}

.contact-button{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-button button{
    background-color: #C4F47C;
    border: 0;
    outline: 0;
    width: 60px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;     
}

.contact-button button i{
    color: #000;
    font-size: 35px;   
    transition: all 0.3s;
}

.contact-button button:hover i{
    transform: scale(1.1);
}